{{> nav}}

<div class="padding-container">
    <h1>Administration</h1>
    <a class="button" href="/admin/settings">Settings</a>
    <a class="button" href="/admin/ranking">Word Ranking</a>
    <a class="button danger" href="/admin/logout">Log Out</a>
</div>