{{> nav}}

<div class="padding-container">
    <h1>Please Log In</h1>
    <div>
        <input class="input" type="password" placeholder="Admin Password" />
    </div>
    <a class="button">Confirm</a>
</div>