<nav>
    <div id="logo">
        <img src="/images/logo-abbreviated.svg" />
    </div>
</nav>

<script>
    // Does not work.
    // TODO Get it to do so.

    /*
    const logo = document.querySelector("#logo")

    const navFunctions = {
        mouseEntered() {
            const img = document.createElement("img")

            img.setAttribute("src", "/images/logo-full.svg")
            img.setAttribute("src", "/images/logo-full.svg")

            logo.innerHTML = ""

            logo.appendChild(img)
        },
        mouseLeft() {
            const img = document.createElement("img")

            img.setAttribute("src", "/images/logo-abbreviated.svg")

            logo.innerHTML = ""

            logo.appendChild(img)
        }
    }

    logo.addEventListener("mouseenter", navFunctions.mouseEntered)
    logo.addEventListener("mouseleave", navFunctions.mouseLeft)
    */
</script>