{{>nav}}

<div class="words">
    <div class="word-upper">
        <div class="word" id="upper-word">
            <div class="i-choose">I prefer</div>
            option one
        </div>
    </div>
    <div class="word-lower">
        <div class="word" id="lower-word">
            <div class="i-choose">I prefer</div>
            another option
        </div>
    </div>
</div>

<script>

</script>